extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    section.search_section
      paper-input(label='search an article')#search
      div#results
    section.input_section
      p Create an Aricle Suggestion
      paper-input( multiline, floatinglabel, label='Suggestion Desc.')#desc
      textarea(name="data", placeholder="Query")#sql
      div.submit(onclick="save_query()")  Create
      div.submit(onclick="run_query()")  run_query
      table#excelDataTable(border="1")
    section.connection_details
      p Chose Connection Details
      select#env
        -var environments = [ 'QA', 'showcase']
        -for item in environments
          option(value=item) #{item}
      div.submit(onclick="change_connection()") Change Connection
      p Current Connection
        div.current_env


block edit
